In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel("transition_data.xlsx", date_parser='-')
#Creation of a dataframe only with the year
df['Year'] = df['Date'].dt.year

new_df = df.drop_duplicates(subset=['Id','Year'], keep='last')

index = [1,2,3,4,5,6,7,8]
mat = pd.DataFrame(0, index = index, columns = index) #Creation of the empty transition matrix
for i in new_df["Id"].unique(): #iterating when the Id
	l = new_df[new_df["Id"] == i].reset_index() #Considering when Id are the same ( to get only one company)
	if len(l) > 1:
		for j in range(len(l)-1):
			mat.loc[l.loc[j]["Rating"]][l.loc[j+1]["Rating"]] += 1
	else : 
		mat.loc[l.loc[0]["Rating"]][l.loc[0]["Rating"]] += 1

In [5]:
mat

trans_mat = mat / mat.sum(axis=0) #should the sum ba one on the axis 0 or 1

In [6]:
trans_mat

       1         2         3         4         5         6         7         8
1  0.675  0.007547  0.000000  0.000000  0.003497  0.000000  0.000000  0.000000
2  0.275  0.807547  0.119318  0.003656  0.000000  0.003953  0.000000  0.000000
3  0.050  0.181132  0.761364  0.159049  0.017483  0.011858  0.000000  0.000000
4  0.000  0.000000  0.107955  0.727605  0.311189  0.055336  0.016260  0.022222
5  0.000  0.000000  0.007576  0.102377  0.500000  0.284585  0.121951  0.111111
6  0.000  0.003774  0.003788  0.007313  0.153846  0.573123  0.430894  0.133333
7  0.000  0.000000  0.000000  0.000000  0.013986  0.067194  0.390244  0.400000
8  0.000  0.000000  0.000000  0.000000  0.000000  0.003953  0.040650  0.333333